#banner {
	color: cornflowerblue;
	font-size: 100px;
	text-align: center;
	margin: 0 auto;
	overflow:auto;
	
}

#chart_div {
	margin: 0 auto;
	text-align: center;
}

table {
			margin: 0 auto;
			text-align: center;
			zoom: 3;
		}
		
a, a:visited {
	color: inherit;
}
		
#picwall {
	zoom: 0;
	background-color: cornflowerblue;
	width: 85%;
	color: white;
}

#tweeter {
	zoom: 0;
	background-color: cornflowerblue;
	width: 65%;
	color: white;
	border-color: #696969;
	border: 20;
}

#searchForm {
	text-align: center;
	margin: 0 auto;
}

#home {
	text-align: center;
	color: cornflowerblue;
}

#sign {
	position: absolute;
	top: 0;
	right: 0;
	margin: 10px;
}