a, a:visited {
	color: inherit;
}
		
#picwall {
	zoom: 0;
	width: 1000px;
	color: black;
}

td{
	align:center;
}

th{
	text-align:center;
}

tr{
	text-align: center;
}

#tweeter {
	zoom: 0;
	width: 65%;
	color: black;
	border-color: black;
	border: 20;
}

.pie {
	display:inline-block;
	text-align: center;
	margin: 0 auto;
	height: 700px;
	width: 700px;
}

#charts {
	text-align: center;
	margin: 0 auto;
}

.groupPix {
	width: 100px;
	height: 100px;
}

table {
  table-layout: fixed;
  width:100%;
}

.navbar-default {
    background-color: #F8F8F8;
    border-color: #E7E7E7;
}

textarea {
   resize: none;

}

#searchBar {
	width: 400px;
	margin: 0 auto;
	text-align: center;
}


