#banner {
	color: cornflowerblue;
	font-size: 100px;
	text-align: center;
	margin: 0 auto;
	overflow:auto;
	
}

#tabs {
	width: auto;
	margin: 0 auto;
}

.ui-tabs .ui-tabs-nav {
		text-align: center;
}

.ui-tabs .ui-tabs-nav li {
		float: none !important;
		display: inline-block;
}

#home {
	text-align: center;
	color: cornflowerblue;
}

#sign {
	position: absolute;
	top: 0;
	right: 0;
	margin: 10px;
}